@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #003727;
	--color-secondary: #09633b;
	--color-accent: #ffd577;
	--color-light: #f3f4f6;
	--color-dark: #001617;
	--color-neutral: #123233;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

button[aria-expanded] {
	@apply cursor-pointer;
}
